h1{
  text-align: center;
  margin-left: 36px;
}

h2{
  margin-left: 36px;
}

.colum-border{
  border-left: 14px solid black;
}

.winnerButton{
  height: 80px;
  width: 250px;
  font-size: 20px;
  background-color: red;
  margin-left: 31px;
  border-radius: 40px;
  background: #cb4e4e;
  box-shadow: 0 6px #ab3c3c;
  color: #ffffff;
  
}

.win{
  text-align: center;
}

.margin{
  margin-left: 25%;
  margin-right: 23%;
}

.align{
  vertical-align: top;
}

.ended{
  pointer-events: none;
  margin-bottom: 5px;
}

.line{
  width: 50%;
  border-color: black;
  margin-left: 60%;
}

button{
  height: 150px;
  width: 150px;
  border: none;
  background-color: white;
  font-size: 80px;
}

:focus {
  outline: 0 !important;
}

hr{
  width: 252px;
  border: 6px solid black;
  margin-top: -4px;
  margin-bottom: 1px;
  margin-left: -50px;
}